.theme-checkbox {
    --toggle-size: 20px;
    appearance: none;
    width: 7.5em;
    height: 3.125em;
    background-image: linear-gradient(43deg, #000000 0%, #05811d66 100%);
    /* background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat; */
    background-size: 205%;
    background-position: 0;
    transition: background-position 0.4s;
    border-radius: 99em;
    position: fixed; /* Set position to fixed */
    top: 43.5vh; /* Adjust this value to move the checkbox vertically */
    left: 91.6vw; /* Adjust this value to move the checkbox horizontally */
    cursor: pointer;
    font-size: var(--toggle-size);
    transform: rotate(90deg);
  }
  
  .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    transition: background-position 0.4s, left 0.4s;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }
  