<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/withdraw_money/component.css">
    <link rel="stylesheet" href="../../static/withdraw_money/root.css">
    <link rel="stylesheet" href="../../static/withdraw_money/background.css">
    <link rel="stylesheet" href="../../static/withdraw_money/primary_information.css">
</head>

<body>
    <div class="background">
        <div class="sub-background">
            <div class="home-button"></div>
            <form action="/withdraw_money/submit" id="withdraw_money_form" method="POST">
                <div class="right-column">
                    <div class="title">withdraw</div>
                    <div class="title"></div>
                    <div class="search-information">
                        <div class="right-group">
                            <input type="text" name="ma_so" id="id" placeholder=" " required>
                            <label for="id">Savingbook's ID</label>
                            <span class="error-message-1" id="id-error"></span>
                        </div>
                        <div class="right-group">
                            <input type="text" id="name" readonly placeholder=" " required>
                            <label for="name">Customer's Name</label>
                            <span class="error-message-1" id="name-error"></span>
                        </div>
                        <div class="right-group">
                            <input type="date" name="ngay_rut" id="withdraw-date" required>
                            <label for="withdraw-date">Withdraw Date</label>
                            <span class="error-message-1" id="date-error"></span>
                        </div>
                    </div>
                </div>
                <div class="left-column">
                    <div class="summary-information">
                        <div id="card-information">
                            <div id="c-information-container">
                                <div id="c-id"></div>
                                <div id="c-name"></div>
                                <div class="display_row">
                                    <div id="c-withdraw-date"></div>
                                    <div id="c-term"></div>
                                </div>
                            </div>
                        </div>
                        <div id="card-old-balance">
                            <div id="c-old-balance"></div>
                            <label for="c-old-balance"></label>
                        </div>
                        <div id="card-new-balance">
                            <div id="c-new-balance"></div>
                            <label for="c-new-balance"></label>
                        </div>
                    </div>

                    <div id="popup-dialog" class="popup">
                        <div class="popup-content">
                            <p>Are you sure you want to withdraw the following amount?</p>
                            <p id="withdraw-amount-display"></p>
                            <div class="button-bar">
                                <button id="confirm-button">Confirm</button>
                                <button id="cancel-button">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-part-left">
                        <div class="left-group">
                            <input id="withdraw-money" name="so_tien_rut" type="text" placeholder="amount?" required>
                            <span id="static-label-currency">VND</span>
                            <label for="withdraw-money">Withdraw Amount</label>
                            <span class="error-message-2" id="withdraw-money-error"></span>
                        </div>

                        <button id="submit-button" disabled>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="../../static/withdraw_money/withdraw_money_fe.js"></script>
</body>

</html>