<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phiếu Rút Tiền</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body>
    <h1>Phiếu Rút Tiền</h1>
    <form action="/withdraw_money/submit" method="post" id="withdraw_money_form">
        <label for="ma_so">Mã số:</label>
        <input type="text" id="ma_so" name="ma_so" required><br><br>
        <span class="error-message" id="ma_so_error"></span>

        <label for="khach_hang">Khách hàng:</label>
        <input type="text" id="khach_hang" name="khach_hang" required><br><br>
        <span class="error-message" id="khach_hang_error"></span>

        <label for="ngay_rut">Ngày rút:</label>
        <input type="date" id="ngay_rut" name="ngay_rut" required><br><br>
        <span class="error-message" id="ngay_goi_error"></span>

        <label for="so_tien_rut">Số tiền rút:</label>
        <input type="number" id="so_tien_rut" name="so_tien_rut" required><br><br>
        <span class="error-message" id="so_tien_rut_error"></span>

        <input type="submit" value="Rút Tiền">
    </form>
    <script src="../../static/withdraw_money/withdraw_money.js"></script>
</body>
</html>
