<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thay Đổi Số Ngày Rút Tối Thiểu</title>
    <link rel="stylesheet" type="text/css" href="../../static/regulation/input.css">
    <link href='https://fonts.googleapis.com/css?family=Borel' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../../static/regulation/input.css">
    <link href='https://fonts.googleapis.com/css?family=Borel' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="background"></div>
    <div class="container">

        <form  id="change_minimum_withdraw_day_form">
            <div class = "input_container_header">
                <span class="input_container_header_text">
                    Change minimum withdraw day
                </span>
                </div>
            <div class="form-item">

                <p class = "formLabel "> Day</p>
                <input class="form-style" type="number" id="minimum_day" name="minimum_day"><br><br>
            </div>
            <input class ="button btn-update" type="submit" value="Update" onclick="submitForm()">
        </form>
    </div>
    <script>
        function submitForm() {
            var form = document.getElementById('change_minimum_withdraw_day_form');
            var formData = new FormData(form);
            event.preventDefault()
            
            fetch('/regulation/change_minimum_withdraw_day/submit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
            // Hiển thị thông báo nhận được từ server (cần phía server trả về JSON)
            alert('Thông tin đã được gửi thành công: ' + data.message);
            })
            .then(data => {
                document.getElementById('result').textContent = data.message;
            })
            .catch(error => {
                document.getElementById('result').textContent = 'Có lỗi xảy ra: ' + error;
            });
        }
        var formInputs = $('input[type="text"],input[type="number"]');
    formInputs.focus(function() {
        $(this).parent().children('p.formLabel').addClass('formTop');
        $(this).parent().children('span.percentage-sign').addClass('percentage-sign-focus');
        $('div.input_container_header').addClass('header-focus')

        
    });
    formInputs.focusout(function() {
        if ($.trim($(this).val()).length == 0){
        $(this).parent().children('p.formLabel').removeClass('formTop');
        }
        $(this).parent().children('span.percentage-sign').removeClass('percentage-sign-focus');
        $('div.input_container_header').removeClass('header-focus')



    });
    $('p.formLabel').click(function(){
        $(this).parent().children('.form-style').focus();

    });
    </script>
</body>
</html>
