<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm Kỳ Hạn Mới</title>
    <link rel="stylesheet" type="text/css" href="../../static/regulation/regulation_home.css">
    <link href='https://fonts.googleapis.com/css?family=Borel' rel='stylesheet'>
</head>
<body>
    <div class="background"></div>
    <div class="container">


        <h1 class = "container_header">Insert Term</h1>
        <form id="insert_term_form" class = "container_form">
            <label for="new_period">Thêm kỳ hạn mới:</label>
            <input type="text" id="new_period" name="new_period"><br><br>
            <button type="button" onclick="submitForm()">Add</button>
        </form>
    </div>
    <script>
        function submitForm() {
            var form = document.getElementById('insert_term_form');
            var formData = new FormData(form);
            
            fetch('/regulation/insert_term/submit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
            // Hiển thị thông báo nhận được từ server (cần phía server trả về JSON)
            alert('Thông tin đã được gửi thành công: ' + data.message);
            })
            .then(data => {
                document.getElementById('result').textContent = data.message;
            })
            .catch(error => {
                document.getElementById('result').textContent = 'Có lỗi xảy ra: ' + error;
            });
        }
    </script>
</body>
</html>
