<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Regulation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Update Regulation</h1>
    <ul>
        <li><a href="/regulation/insert_term">Thêm Kỳ Hạn Mới</a></li>
        <li><a href="/regulation/update_interest_rate">Cập Nhật Lãi Suất</a></li>
        <li><a href="/regulation/change_minimum_withdraw_day">Thay Đổi Số Ngày Rút Tối Thiểu</a></li>
        <li><a href="/regulation/change_minimum_deposit_money">Thay Đổi Số Tiền Gửi Tối Thiểu</a></li>
    </ul>
</body>
</html>
