<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/regulation/root.css">
    <link rel="stylesheet" href="../../static/regulation/background.css">
    <link rel="stylesheet" href="../../static/regulation/regulation.css">
    <link rel="stylesheet" href="../../static/regulation/form.css">
    <link href='https://fonts.googleapis.com/css?family=Borel' rel='stylesheet'>
</head>

<body>
    <div class="background">
        <div class="sub-background">
            <div class="home-button"></div>
            <div class="left-column">
                <div class="title">Change Regulation</div>
                <div class="container">
                    <div class="box">
                        <div class="page" id="insert">
                            <form id="insert_term_form">
                                <div class="title-form">INSERT NEW TERM</div>

                                <div class="form-item">
                                    <input type="text" id="term" name="term" placeholder=" " required>
                                    <label for="term">Term</label>
                                </div>

                                <div class="form-item">
                                    <input type="text" id="interest" name="interest" placeholder=" " required>
                                    <label for="term">Interest</label>
                                    <span class="percentage-sign">%</span>
                                </div>

                                <button class="button-form" type="button" onclick="submitFormTerm()">Confirm</button>
                            </form>
                        </div>

                        <div class="page" id="change-minimum-deposit" hidden>
                            <form id="change_minimum_deposit_money_form">
                                <div class="title-form">CHANGE MINIMUM DEPOSIT</div>
                                <div class="form-item">
                                    <div class="current_minimum_deposit">NGUYEN QUANG MINH</div>
                                    <span class="unit">VND</span>
                                </div>
                                <div class="form-item">
                                    <input type="number" id="minimum_deposit" name="minimum_deposit" placeholder=" "
                                        required>
                                    <label for="minimum_deposit">Deposit</label>
                                    <span class="unit">VND</span>
                                </div>

                                <button class="button-form" type="button" onclick="submitFormDeposit()">Update</button>
                            </form>
                        </div>

                        <div class="page" id="change-minimum-withdraw-day" hidden>
                            <form id="change_minimum_withdraw_day_form">
                                <div class="title-form">CHANGE MINIMUM WIRHDRAW DAY</div>
                                <div class="form-item">
                                    <div class="current_minimum_day">NGUYEN QUANG MINH</div>
                                    <span class="unit">DAYS</span>
                                </div>
                                <div class="form-item">
                                    <input type="number" id="minimum_withdraw_day" name="minimum_withdraw_day"
                                        placeholder=" " required>
                                    <label for="minimum_withdraw_day">Day</label>
                                </div>

                                <button class="button-form" type="button" onclick="submitFormDay()">Update</button>
                            </form>
                        </div>

                        <div class="page" id="change-interest-rate" hidden>
                            <form id="update_interest_rate_form" class="container_form">
                                <div class="title-form">UPDATE INTEREST RATE</div>
                                <!-- <div class="form-item">
                                    <input type="number" id="minimum_withdraw_day" name="minimum_withdraw_day"
                                        placeholder=" " required>
                                    <label for="minimum_withdraw_day">Day</label>
                                </div> -->

                                <select id="term-select" name="term" required>
                                    <option value="" disabled id="holder" selected>choose a term</option>
                                    {% for term in terms %}
                                    <option value="{{ term }}">{{ term }}</option>
                                    {% endfor %}
                                </select>

                                <input type="hidden" id="hidden_interest_period" name="interest_period">
                                <div class="form-item">
                                    <input type="text" id="interest_rate" name="interest_rate" placeholder=" " required>
                                    <label for="term">Interest</label>
                                    <span class="percentage-sign">%</span>
                                </div>

                                <button class="button-form" type="button" onclick="submitFormInterest()">Update</button>
                            </form>
                        </div>

                        <div class="page" id="display-all-term" hidden>
                            <div class="table-container">
                                <div class="title-form">DISPLAY ALL TERMS</div>

                                <table id="termsTable" border="1">
                                    <tr>
                                        <th>Term Name</th>
                                        <th>Interest Rate</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div id="btn-insert-term" class="button">Insert Term</div>
                <div id="btn-change-minimum-deposit" class="button">Change Minimum Deposit</div>
                <div id="btn-change-minimum-withdraw-day" class="button">Change Minimum Withdraw Day</div>
                <div id="btn-change-interest-rate" class="button">Change Interest Rate</div>
                <div id="btn-display-all-term" class="button">Display All Term</div>
            </div>
        </div>
    </div>
    <script>
        async function fetchTerms() {
            try {
                const response = await fetch('/regulation/get_term_list');
                const data = await response.json();

                if (response.ok) {
                    const table = document.getElementById('termsTable');

                    data.forEach(term => {
                        const row = table.insertRow();
                        const termNameCell = row.insertCell(0);
                        const interestRateCell = row.insertCell(1);

                        termNameCell.textContent = term.term_name;
                        interestRateCell.textContent = term.interest_rate;
                    });
                } else {
                    console.error('Error fetching terms:', data.error);
                }
            } catch (error) {
                console.error('Error fetching terms:', error);
            }
        }
        window.onload = fetchTerms;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/regulation/regulation.js"></script>
    <script src="../../static/regulation/change_regulation_js/change_minimum_deposit_money.js"></script>
    <script src="../../static/regulation/change_regulation_js/change_minimum_withdraw_day.js"></script>
    <script src="../../static/regulation/change_regulation_js/update_interest_rate.js"></script>
    <script src="../../static/regulation/change_regulation_js/insert_new_term.js"></script>
    <script>

    </script>
</body>

</html>