<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Regulation</title>
    <link rel="stylesheet" type="text/css" href="../../static/regulation/regulation_home.css">
    <link href='https://fonts.googleapis.com/css?family=Borel' rel='stylesheet'>

</head>
<body>
    <div class="background"></div>
    <div class="regulation_container container">
    <h1 class="container_header">Change Regulation</h1>
        <ul class="regulation_list_item container_list">
            <li class = "regulation_item container_list_item">
                <a href="/regulation/insert_term">
                <span class="item_text container_list_item_text">
                    Insert Term
                </span>
                </a>
            </li>
            <li class = "regulation_item container_list_item">
                <a href="/regulation/update_interest_rate">
                <span class="item_text container_list_item_text">
                    Update interset rate
                </span>
                </a>
            </li>
            <li class = "regulation_item container_list_item">
                <a href="/regulation/change_minimum_withdraw_day">
                <span class="item_text container_list_item_text">
                    Change Minimum Withdraw Day
                </span>
                </a>
            </li>
            <li class = "regulation_item container_list_item">
                <a href="/regulation/change_minimum_deposit_money">
                <span class="item_text container_list_item_text">
                    Change Minimum Deposit
                </span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
