<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Trang Chủ</h1>
    <ul>
        <li><a href="/register_account">Sổ Tiết Kiệm</a></li>
        <li><a href="/deposit_money">Phiếu Gởi Tiền</a></li>
        <li><a href="/withdraw_money"> Rút tiền</a></li>
        <li><a href="/view_accounts">Hiển thị danh sách stk</a></li>
        <li><a href="/report">Báo cáo </a></li>
        <li><a href="/update_regulation"> Cập nhật quy địnhn</a></li>
    </ul>
</body>
</html>
