<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cập Nhật Lãi Suất</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cập Nhật Lãi Suất</h1>
    <form action="/update_interest_rate/submit" method="post" id="update_interest_rate_form">
        <label for="interest_period">Kỳ hạn lãi suất:</label>
        <select id="interest_period" name="interest_period">
            {% for period in regulation.get_periods() %}
                <option value="{{ period }}">{{ period }}</option>
            {% endfor %}
        </select>
        <input type="number" id="interest_rate" name="interest_rate" step="0.01"><br><br>
        <input type="submit" value="Cập nhật">
    </form>
    <script src="{{ url_for('static', filename='update_interest_rate.js') }}"></script>
</body>
</html>
