<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Tài Khoản</title>
    <link rel="stylesheet" type="text/css" href="/static/view_account.css">
</head>
<body>
    <h1>Danh Sách Tài Khoản</h1>

    <div>
        <select id="column-select">
            <!-- Các tùy chọn sẽ được tạo bằng JavaScript -->
        </select>
        <select id="order-select">
            <option value="asc">Tăng dần</option>
            <option value="desc">Giảm dần</option>
        </select>
        <button onclick="sortTable()">Sắp xếp</button>
        <button onclick="resetTable()">Quay lại thứ tự mặc định</button>
    </div>
    <div style="float: right; margin-top: 10px; margin-right: 20px;">
        <input type="text" id="search-input" placeholder="Nhập tên khách hàng hoặc số tài khoản...">
        <button onclick="filterTable()">Tìm kiếm</button>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mã Số</th>
                <th>Khách Hàng</th>
                <th>Loại Tiết Kiệm</th>
                <th id="so_tien_gui_th" onclick="changeColumnContent()">
                    {% if show_initial_amount %}
                        Số Tiền Gửi Ban Đầu
                    {% else %}
                        Tổng Tiền Hiện Tại
                    {% endif %}
                </th>
                <th>Tiền Lãi</th>
                <th>Lãi Suất</th>
            </tr>
        </thead>
        <tbody id="account-table-body">
            {% for account in accounts %}
            <tr onclick="redirectToDetail('{{ account[0] }}')">
                <td>{{ loop.index }}</td>
                <td>{{ account[0] }}</td>
                <td>{{ account[1] }}</td>
                <td>{{ account[2] }}</td>
                <td class="so_tien_gui">
                    {% if show_initial_amount %}
                        {{ account[3] }}
                    {% else %}
                        {{ account[6] }}
                    {% endif %}
                </td>
                <td>{{ account[4] }}</td>
                <td>{{ account[5] }}</td>
                <td class="tong_tien" style="display: none;">
                    {% if show_initial_amount %}
                        {{ account[6] }}
                    {% else %}
                        {{ account[3] }}
                    {% endif %}
                </td> <!-- Thêm cột ẩn cho tổng tiền -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            sortOption();
        });

        function sortOption() {
            var tableHeaders = document.querySelectorAll('th');
            var columnSelect = document.getElementById('column-select');
            columnSelect.innerHTML = '';
            tableHeaders.forEach(function(header, index) {
                var option = document.createElement('option');
                option.textContent = header.textContent.trim();
                option.value =  option.textContent;
                columnSelect.appendChild(option);
            });
        }

        function sortTable() {
            var columnSelect = document.getElementById('column-select');
            var orderSelect = document.getElementById('order-select');
            var column = columnSelect.value;
            var order = orderSelect.value;

            window.location.href = `/view_accounts?sort=${column}&order=${order}`;
        }

        function resetTable() {
            window.location.href = '/view_accounts';
        }

        function changeColumnContent() {
            var th = document.getElementById('so_tien_gui_th');
            var soTienGuiCells = document.querySelectorAll('.so_tien_gui');
            var tongTienCells = document.querySelectorAll('.tong_tien');

            if (th.textContent === 'Tổng Tiền Hiện Tại') {
                th.textContent = 'Số Tiền Gửi Ban Đầu';
                soTienGuiCells.forEach(function(cell, index) {
                    cell.textContent = tongTienCells[index].dataset.originalContent;
                });
            } else {
                th.textContent = 'Tổng Tiền Hiện Tại';
                soTienGuiCells.forEach(function(cell, index) {
                    if (!tongTienCells[index].dataset.originalContent) {
                        tongTienCells[index].dataset.originalContent = cell.textContent;
                    }
                    cell.textContent = tongTienCells[index].textContent;
                });
            }
            sortOption() 
        }

        function filterTable() {
            var input = document.getElementById('search-input').value.toLowerCase();
            var tableBody = document.getElementById('account-table-body');
            var rows = tableBody.getElementsByTagName('tr');

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var customerName = cells[2].textContent.toLowerCase();
                var account_ID = cells[1].textContent.toLowerCase();
                if (customerName.includes(input) || account_ID.includes(input)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
        function redirectToDetail(accountId) {
            window.location.href = `/view_account_transaction?ID=${accountId}`;
        }
    </script>
</body>
</html>
