<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Tài Khoản</title>
    <link rel="stylesheet" type="text/css" href="/static/view_account.css">
</head>
<body>
    <h1>Danh Sách Tài Khoản</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mã Số</th>
                <th>Khách Hàng</th>
                <th>Loại Tiết Kiệm</th>
                <th>Số Tiền Gửi</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ account[0] }}</td>
                <td>{{ account[1] }}</td>
                <td>{{ account[2] }}</td>
                <td>{{ account[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
